jatin/wsdl/v1.1/coupon/resend.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="CouponResend" type="CouponResendRequest"/>		
			<xs:element name="response" type="CouponResendResponse"/>
			<xs:element name="Authorization" type="xs:string"/>
			
			<xs:complexType name="CouponResendRequest">
				<xs:all>
					<xs:element name="id" type="xs:string" minOccurs="0" />
					<xs:element name="code" type="xs:string" minOccurs="0" />
					<xs:element name="user_id" type="xs:boolean" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="CouponResendResponse">
				<xs:all>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="coupons" type="ArrResponseCoupon" minOccurs="0"/>
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseCoupon">
				<xs:sequence>
					<xs:element name="coupon" type="ResponseCoupon" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseCoupon">
				<xs:all>
					<xs:element name="id" type="xs:string" minOccurs="0" />
					<xs:element name="code" type="xs:string" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="CouponResendInterface">
		<wsdl:operation name="CouponResend" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="CouponResend"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="CouponResendBinding" 
		interface="tns:CouponResendInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:CouponResend"
				whttp:location="/v1.1/coupon/resend?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" >
					<wsdl:input messageLabel="In" >
						<whttp:header name="Authorization" type="Authorization" required="true" />
					</wsdl:input>
			</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CouponResendService" 
		interface="tns:CouponResendInterface">
			<wsdl:endpoint name="CouponResendEndPoint" 
				binding="tns:CouponResendBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

