git-copy/wsdl/v1/points/isRedeemable.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="PointsIsRedeemable" type="PointsIsRedeemableRequest"/>		
			<xs:element name="response" type="PointsIsRedeemableResponse"/>
			<xs:element name="Authorization" type="xs:string"/>
			
			<xs:complexType name="PointsIsRedeemableRequest">
				<xs:sequence>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					<xs:element name="points" type="xs:string" minOccurs="0" />
					<xs:element name="validation_code" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="PointsIsRedeemableResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="points" type="ArrResponseIsRedeemable" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseIsRedeemable">
				<xs:sequence>
					<xs:element name="redeemable" type="ResponseIsRedeemable" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseIsRedeemable">
				<xs:sequence>
					
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="points" type="xs:integer" minOccurs="0" />
					<xs:element name="is_redeemable" type="xs:boolean" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="PointsIsRedeemableInterface">
		<wsdl:operation name="PointsIsRedeemable" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="PointsIsRedeemable"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="PointsIsRedeemableBinding" 
		interface="tns:PointsIsRedeemableInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:PointsIsRedeemable"
				whttp:location="/v1/points/isredeemable?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" >
					<wsdl:input messageLabel="In" >
						<whttp:header name="Authorization" type="Authorization" required="true" />
					</wsdl:input>
			</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PointsIsRedeemableService" 
		interface="tns:PointsIsRedeemableInterface">
			<wsdl:endpoint name="PointsIsRedeemableEndPoint" 
				binding="tns:PointsIsRedeemableBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

