git-copy/wsdl/v1.1/customer/search.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="CustomerSearch" type="CustomerSearchRequest"/>		
			<xs:element name="response" type="CustomerSearchResponse"/>
			
			<xs:complexType name="CustomerSearchRequest">
				<xs:sequence>
					<xs:element name="q" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="CustomerSearchResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="customer" type="ArrResponseCustomer" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseCustomer">
				<xs:sequence>
					<xs:element name="count" type="xs:string" minOccurs="0" />
					<xs:element name="start" type="xs:string" minOccurs="0" />
					<xs:element name="rows" type="xs:string" minOccurs="0" />
					<xs:element name="results" type="ArrCustomerItem" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrCustomerItem">
				<xs:sequence>
					<xs:element name="item" type="CustomerItem" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="CustomerItem">
				<xs:all>
					<xs:element name="user_id" type="xs:integer" minOccurs="0" />
					<xs:element name="org_id" type="xs:integer" minOccurs="0" />
					<xs:element name="firstname" type="xs:string" minOccurs="0" />
					<xs:element name="lastname" type="xs:string" minOccurs="0" />
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					
					<xs:element name="loyalty_points" type="xs:integer" minOccurs="0" />
					<xs:element name="lifetime_points" type="xs:integer" minOccurs="0" />
					<xs:element name="lifetime_purchases" type="xs:integer" minOccurs="0" />
					<!-- changed slab to current_slab in v1.1 -->
					<xs:element name="current_slab" type="xs:string" minOccurs="0" />
					<!--  added registered_on in v1.1 -->
					<xs:element name="registered_date" type="xs:date" minOccurs="0" />
					<!--  added registered_by in v1.1 -->
					<xs:element name="registered_by" type="xs:string" minOccurs="0" />
					<xs:element name="last_trans_value" type="xs:integer" minOccurs="0" />
					<xs:element name="attributes" type="ArrAttribute" minOccurs="0" />
				</xs:all>
			</xs:complexType>
						
			<xs:complexType name="ArrAttribute">
				<xs:sequence>
					<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Attribute">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="CustomerSearchInterface">
		<wsdl:operation name="CustomerSearch" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="CustomerSearch"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="CustomerSearchBinding" 
		interface="tns:CustomerSearchInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:CustomerSearch"
				whttp:location="/v1.1/customer/search?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" />
	</wsdl:binding>

	<wsdl:service name="CustomerSearchService" 
		interface="tns:CustomerSearchInterface">
			<wsdl:endpoint name="CustomerSearchEndPoint" 
				binding="tns:CustomerSearchBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

