svn-copy/wsdl/v1.1/product/search.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="ProductSearch" type="ProductSearchRequest"/>		
			<xs:element name="response" type="ProductSearchResponse"/>
			
			<xs:complexType name="ProductSearchRequest">
				<xs:sequence>
					<xs:element name="q" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ProductSearchResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="1"/>
					<xs:element name="product" type="ArrResponseProduct" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseProduct">
				<xs:sequence>
					<xs:element name="count" type="xs:integer" minOccurs="0" />
					<xs:element name="start" type="xs:integer" minOccurs="0" />
					<xs:element name="rows" type="xs:integer" minOccurs="0" />
					<xs:element name="results" type="ArrProductItem" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrProductItem">
				<xs:sequence>
					<xs:element name="item" type="ProductItem" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ProductItem">
				<xs:sequence>
					<xs:element name="id" type="xs:integer" minOccurs="0" />
					<xs:element name="org_id" type="xs:integer" minOccurs="0" />
					<xs:element name="sku" type="xs:string" minOccurs="0" />
					<xs:element name="in_stock" type="xs:boolean" minOccurs="0" />
					<xs:element name="price" type="xs:double" minOccurs="0" />
					<xs:element name="description" type="xs:string" minOccurs="0" />
					<xs:element name="img_url" type="xs:string" minOccurs="0" />
					<xs:element name="attributes" type="ArrAttribute" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
						
			<xs:complexType name="ArrAttribute">
				<xs:sequence>
					<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Attribute">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="ProductSearchInterface">
		<wsdl:operation name="ProductSearch" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="ProductSearch"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="ProductSearchBinding" 
		interface="tns:ProductSearchInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:ProductSearch"
				whttp:location="/v1.1/product/search?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" />
	</wsdl:binding>

	<wsdl:service name="ProductSearchService" 
		interface="tns:ProductSearchInterface">
			<wsdl:endpoint name="ProductSearchEndPoint" 
				binding="tns:ProductSearchBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

