svn-copy/wsdl/v1.1/transaction/addNotInterested.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="root" type="TransactionAddNotInterestedRequest"/>		
			<xs:element name="response" type="TransactionAddNotInterestedResponse"/>
			
			<xs:simpleType name="dateTime">
		        <xs:restriction base="xs:string">
		            <xs:pattern value="(\d{4})-([0,1][0-9])-([0-3][0-9]) ([0-2][0-9]):([0-5][0-9]):([0-5][0-9])"></xs:pattern>
		        </xs:restriction>
		    </xs:simpleType>
			
			<xs:complexType name="TransactionAddNotInterestedRequest">
				<xs:sequence>
					<xs:element name="transaction" type="RequestTransaction" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="TransactionAddNotInterestedResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="transactions" type="ArrResponseTransaction" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="RequestTransaction">
				<xs:all>
					<xs:element name="bill_client_id" type="xs:string" minOccurs="0" />
					<xs:element name="type" type="xs:string" minOccurs="0" />
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:string" minOccurs="0" />
					<xs:element name="billing_time" type="dateTime" minOccurs="0" />
					<xs:element name="not_interested_reason" type="xs:string" minOccurs="0" />
					<xs:element name="line_items" type="ArrLineItem" minOccurs="0" />
					<xs:element name="payment_details" type="ArrPaymentDetail" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseTransaction">
				<xs:sequence>
					<xs:element name="transaction" type="ResponseTransaction" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseTransaction">
				<xs:all>
					<xs:element name="id" type="xs:string" minOccurs="0" />
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="type" type="xs:string" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
					<xs:element name="bill_client_id" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrLineItem">
				<xs:sequence>
					<xs:element name="line_item" type="LineItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="LineItem">
				<xs:all>
					<xs:element name="serial" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:string" minOccurs="0" />
					<xs:element name="description" type="xs:string" minOccurs="0" />
					<xs:element name="item_code" type="xs:string" minOccurs="0" />
					<xs:element name="qty" type="xs:string" minOccurs="0" />
					<xs:element name="rate" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
					<xs:element name="discount" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrPaymentDetail">
				<xs:sequence>
					<xs:element name="payment" type="Payment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Payment">
				<xs:all>
					<xs:element name="mode" type="xs:string" minOccurs="1"/>
					<xs:element name="value" type="xs:double" minOccurs="1" />
					<xs:element name="notes" type="xs:string" minOccurs="0" />
					<xs:element name="attributes" type="ArrAttribute" minOccurs="0"/>
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrAttribute">
				<xs:sequence>
					<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Attribute">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="TransactionAddNotInterestedInterface">
		<wsdl:operation name="TransactionAddNotInterested" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="root"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="TransactionAddNotInterestedBinding" 
		interface="tns:TransactionAddNotInterestedInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:TransactionAddNotInterested"
				whttp:location="/v1.1/transaction/add?format=xml" 
				whttp:method="POST" 
				whttp:inputSerialization="application/xml" 
				whttp:outputSerialization="application/xml" />
	</wsdl:binding>

	<wsdl:service name="TransactionAddNotInterestedService" 
		interface="tns:TransactionAddNotInterestedInterface">
			<wsdl:endpoint name="TransactionAddNotInterestedEndPoint" 
				binding="tns:TransactionAddNotInterestedBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

