jatin/wsdl/v1.1/points/validationcode.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="PointsValidationCode" type="PointsValidationCodeRequest"/>		
			<xs:element name="response" type="PointsValidationCodeResponse"/>
			<xs:element name="Authorization" type="xs:string"/>
			
			<xs:complexType name="PointsValidationCodeRequest">
				<xs:sequence>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="points" type="xs:string" minOccurs="0" />
					<xs:element name="user_id" type="xs:boolean" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="PointsValidationCodeResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="validation_code" type="ArrResponseValidationCode" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseValidationCode">
				<xs:sequence>
					<xs:element name="code" type="ResponseValidationCode" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseValidationCode">
				<xs:sequence>
					<xs:element name="user_id" type="xs:integer" minOccurs="0" />
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					<xs:element name="points" type="xs:double" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="PointsValidationCodeInterface">
		<wsdl:operation name="PointsValidationCode" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="PointsValidationCode"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="PointsValidationCodeBinding" 
		interface="tns:PointsValidationCodeInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:PointsValidationCode"
				whttp:location="/v1.1/points/validationcode?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" >
					<wsdl:input messageLabel="In" >
						<whttp:header name="Authorization" type="Authorization" required="true" />
					</wsdl:input>
			</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PointsValidationCodeService" 
		interface="tns:PointsValidationCodeInterface">
			<wsdl:endpoint name="PointsValidationCodeEndPoint" 
				binding="tns:PointsValidationCodeBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

