svn-copy/wsdl/v1.1/coupon/redeem.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="root" type="CouponRedeemRequest"/>		
			<xs:element name="response" type="CouponRedeemResponse"/>
			<xs:element name="Authorization" type="xs:string"/>
			
			<xs:complexType name="CouponRedeemRequest">
				<xs:sequence>
					<xs:element name="coupon" type="RequestCoupon" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="CouponRedeemResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="coupons" type="ArrResponseCoupon" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="RequestCoupon">
				<xs:all>
					<xs:element name="code" type="xs:string" minOccurs="0" />
					<xs:element name="validation_code" type="xs:string" minOccurs="0" />
					<xs:element name="customer" type="RequestCustomer" minOccurs="0" />
					<xs:element name="custom_fields" type="ArrCustomField" minOccurs="0" />
					<xs:element name="transaction" type="RequestTransaction" minOccurs="0" />					
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="RequestCustomer">
				<xs:all>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="RequestTransaction">
				<xs:all>
					<!-- v1.1 change transaction_number to number -->
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseCoupon">
				<xs:sequence>
					<xs:element name="coupon" type="ResponseCoupon" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseCoupon">
				<xs:all>
					<xs:element name="code" type="xs:string" minOccurs="0" />
					<xs:element name="customer" type="ResponseCustomer" minOccurs="0" />
					<xs:element name="transaction" type="ResponseTransaction" minOccurs="0" />
					<xs:element name="discount_code" type="xs:string" minOccurs="0" />
					<xs:element name="series_code" type="xs:string" minOccurs="0" />
					<xs:element name="is_absolute" type="xs:boolean" minOccurs="0" />
					<xs:element name="coupon_value" type="xs:string" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ResponseCustomer">
				<xs:all>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ResponseTransaction">
				<xs:all>
					<!-- v1.1 change transaction_number to number -->
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrCustomField">
				<xs:sequence>
					<xs:element name="field" type="CustomField" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="CustomField">
				<xs:all>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="CouponRedeemInterface">
		<wsdl:operation name="CouponRedeem" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="root"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="CouponRedeemBinding" 
		interface="tns:CouponRedeemInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:CouponRedeem"
				whttp:location="/v1.1/coupon/redeem?format=xml" 
				whttp:method="POST" 
				whttp:inputSerialization="application/xml" 
				whttp:outputSerialization="application/xml" >
				<wsdl:input messageLabel="In" >
						<whttp:header name="Authorization" type="Authorization" required="true" />
					</wsdl:input>
			</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CouponRedeemService" 
		interface="tns:CouponRedeemInterface">
			<wsdl:endpoint name="CouponRedeemEndPoint" 
				binding="tns:CouponRedeemBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

