svn-copy/wsdl/v1.1/points/redeem.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="root" type="PointsRedeemRequest"/>		
			<xs:element name="response" type="PointsRedeemResponse"/>
			<xs:element name="Authorization" type="xs:string"/>
			
			<xs:complexType name="PointsRedeemRequest">
				<xs:sequence>
					<xs:element name="redeem" type="RequestPointsRedeem" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="PointsRedeemResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="responses" type="ArrResponseRedeem" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="RequestPointsRedeem">
				<xs:sequence>
					<xs:element name="points_redeemed" type="xs:string" minOccurs="0" />
					<xs:element name="transaction_number" type="xs:string" minOccurs="0" />
					<xs:element name="customer" type="RequestCustomer" minOccurs="0" />
					<xs:element name="notes" type="xs:string" minOccurs="0" />
					<xs:element name="validation_code" type="xs:string" minOccurs="0" />
					<xs:element name="redemption_time" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="RequestCustomer">
				<xs:sequence>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="RequestTransaction">
				<xs:sequence>
					<xs:element name="transaction_number" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseRedeem">
				<xs:sequence>
					<xs:element name="points" type="ResponsePoints" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponsePoints">
				<xs:sequence>
					<xs:element name="user_id" type="xs:integer" minOccurs="0" />
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					<xs:element name="points_redeemed" type="xs:integer" minOccurs="0" />
					<xs:element name="redeemed_value" type="xs:double" minOccurs="0" />
					<xs:element name="balance" type="xs:integer" minOccurs="0" />
					<xs:element name="item_status" type="Status" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="PointsRedeemInterface">
		<wsdl:operation name="PointsRedeem" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="root"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="PointsRedeemBinding" 
		interface="tns:PointsRedeemInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:PointsRedeem"
				whttp:location="/v1.1/points/redeem?format=xml" 
				whttp:method="POST" 
				whttp:inputSerialization="application/xml" 
				whttp:outputSerialization="application/xml" >
				<wsdl:input messageLabel="In" >
						<whttp:header name="Authorization" type="Authorization" required="true" />
					</wsdl:input>
			</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PointsRedeemService" 
		interface="tns:PointsRedeemInterface">
			<wsdl:endpoint name="PointsRedeemEndPoint" 
				binding="tns:PointsRedeemBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

