svn-copy/wsdl/v1/customer/get.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="CustomerGet" type="CustomerGetRequest"/>		
			<xs:element name="response" type="CustomerGetResponse"/>
			
			<xs:simpleType name="dateTime">
		        <xs:restriction base="xs:string">
		            <xs:pattern value="(\d{4})-([0,1][0-9])-([0-3][0-9]) ([0-2][0-9]):([0-5][0-9]):([0-5][0-9])"></xs:pattern>
		        </xs:restriction>
		    </xs:simpleType>
		    <xs:simpleType name="Date">
		        <xs:restriction base="xs:string">
		            <xs:pattern value="(\d{4})-([0,1][0-9])-([0-3][0-9])"></xs:pattern>
		        </xs:restriction>
		    </xs:simpleType>
		    
			<xs:complexType name="CustomerGetRequest">
				<xs:all>
					<xs:element name="mobile" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="external_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="user_id" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="next_slab" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="CustomerGetResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="1" maxOccurs="1"/>
					<xs:element name="customers" type="ArrResponseCustomer" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrResponseCustomer">
				<xs:sequence>
					<xs:element name="customer" type="ResponseCustomer" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseCustomer">
				<xs:all>
					<xs:element name="firstname" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lastname" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="mobile" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="external_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lifetime_points" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lifetime_purchases" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="loyalty_points" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="current_slab" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="registered_on" type="dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="updated_on" type="dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="next_slab" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="next_slab_serial_number" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="next_slab_description" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="user_id" type="xs:integer" minOccurs="0" maxOccurs="1"/>
										
					<xs:element name="custom_fields" type="ArrCustomField" minOccurs="0" maxOccurs="1"/>
					<xs:element name="transactions" type="ArrTransaction" minOccurs="0" maxOccurs="1"/>
					<xs:element name="coupons" type="ArrCoupon" minOccurs="0" maxOccurs="1"/>
					<xs:element name="notes" type="ArrNote" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="item_status" type="Status" minOccurs="1" maxOccurs="1"/>					
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrCustomField">
				<xs:sequence>
					<xs:element name="field" type="CustomField" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="CustomField">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
					<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrTransaction">
				<xs:sequence>
					<xs:element name="transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Transaction">
				<xs:sequence>
					<xs:element name="id" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					<xs:element name="bill_number" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="created_date" type="dateTime" minOccurs="0" maxOccurs="1"/>
					<xs:element name="store" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrCoupon">
				<xs:sequence>
					<xs:element name="coupon" type="Coupon" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Coupon">
				<xs:sequence>
					<xs:element name="id" type="xs:integer" minOccurs="0" />
					<xs:element name="series_id" type="xs:integer" minOccurs="0" />
					<xs:element name="code" type="xs:string" minOccurs="0" />
					<xs:element name="description" type="xs:string" minOccurs="0" />
					<!-- Not returning time with date -->
					<xs:element name="valid_till" type="Date" minOccurs="0" />
					<xs:element name="redeemed" type="xs:boolean" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrNote">
				<xs:sequence>
					<xs:element name="note" type="Note" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Note">
				<xs:sequence>
					<xs:element name="id" type="xs:integer" minOccurs="0" />
					<xs:element name="date" type="dateTime" minOccurs="0" />
					<xs:element name="description" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="CustomerGetInterface">
		<wsdl:operation name="CustomerGet" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="CustomerGet"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="CustomerGetBinding" 
		interface="tns:CustomerGetInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:CustomerGet"
				whttp:location="/v1/customer/get?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" />
	</wsdl:binding>

	<wsdl:service name="CustomerGetService" 
		interface="tns:CustomerGetInterface">
			<wsdl:endpoint name="CustomerGetEndPoint" 
				binding="tns:CustomerGetBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

