jatin/wsdl/v1.1/customer/transactions.wsdl

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	
	<wsdl:types>
		<xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
		
			<xs:element name="CustomerTransaction" type="CustomerTransactionRequest"/>		
			<xs:element name="response" type="CustomerTransactionResponse"/>
			
			<xs:simpleType name="dateTime">
		        <xs:restriction base="xs:string">
		            <xs:pattern value="(\d{4})-([0,1][0-9])-([0-3][0-9]) ([0-2][0-9]):([0-5][0-9]):([0-5][0-9])"></xs:pattern>
		        </xs:restriction>
		    </xs:simpleType>
			
			<xs:complexType name="CustomerTransactionRequest">
				<xs:all>
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					<xs:element name="id" type="xs:integer" minOccurs="0" />
					<xs:element name="user_id" type="xs:boolean" minOccurs="0" />
					
					<xs:element name="start_date" type="dateTime" minOccurs="0" />
					<xs:element name="end_date" type="dateTime" minOccurs="0" />
					<xs:element name="store_id" type="xs:integer" minOccurs="0" />
					<xs:element name="start_id" type="xs:integer" minOccurs="0" />
					<xs:element name="end_id" type="xs:integer" minOccurs="0" />
					<xs:element name="limit" type="xs:integer" minOccurs="0" />
					<xs:element name="sort" type="xs:string" minOccurs="0" />
					<xs:element name="order" type="xs:string" minOccurs="0" />
					
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="CustomerTransactionResponse">
				<xs:sequence>
					<xs:element name="status" type="Status" minOccurs="0"/>
					<xs:element name="customer" type="ResponseCustomer" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ResponseCustomer">
				<xs:all>
					<xs:element name="user_id" type="xs:integer" minOccurs="0" />
					<xs:element name="mobile" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="external_id" type="xs:string" minOccurs="0" />
					<xs:element name="firstname" type="xs:string" minOccurs="0" />
					<xs:element name="lastname" type="xs:string" minOccurs="0" />
					<xs:element name="lifetime_points" type="xs:integer" minOccurs="0" />
					<xs:element name="lifetime_purchases" type="xs:integer" minOccurs="0" />
					<xs:element name="loyalty_points" type="xs:integer" minOccurs="0" />
					<xs:element name="registered_on" type="dateTime" minOccurs="0" />
					<xs:element name="updated_on" type="dateTime" minOccurs="0" />
					<xs:element name="current_slab" type="xs:string" minOccurs="0" />
					<xs:element name="count" type="xs:integer" minOccurs="0" />
					<xs:element name="start" type="xs:integer" minOccurs="0" />
					<xs:element name="rows" type="xs:integer" minOccurs="0" />
					<xs:element name="transactions" type="ArrTransaction" minOccurs="0" />
				</xs:all>
			</xs:complexType>
						
			<xs:complexType name="ArrTransaction">
				<xs:sequence>
					<xs:element name="transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Transaction">
				<xs:all>
					<xs:element name="id" type="xs:integer" minOccurs="0" />
					<xs:element name="number" type="xs:string" minOccurs="0" />
					<xs:element name="type" type="xs:string" minOccurs="0" />
					<xs:element name="amount" type="xs:double" minOccurs="0" />
					<xs:element name="notes" type="xs:string" minOccurs="0" />
					<xs:element name="billing_time" type="dateTime" minOccurs="0" />
					<xs:element name="gross_amount" type="xs:double" minOccurs="0" />
					<xs:element name="discount" type="xs:double" minOccurs="0" />
					<xs:element name="store" type="xs:string" minOccurs="0" />
					<xs:element name="points" type="Points" minOccurs="0" />
					<xs:element name="coupons" type="Coupons" minOccurs="0" />
					<xs:element name="basket_size" type="xs:integer" minOccurs="0" />
					<xs:element name="line_items" type="ArrLineItem" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrLineItem">
				<xs:sequence>
					<xs:element name="line_item" type="LineItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="LineItem">
				<xs:all>
					<xs:element name="serial" type="xs:string" minOccurs="0" />
					<xs:element name="item_code" type="xs:string" minOccurs="0" />
					<xs:element name="description" type="xs:string" minOccurs="0" />
					<xs:element name="qty" type="xs:integer" minOccurs="0" />
					<xs:element name="rate" type="xs:double" minOccurs="0" />
					<xs:element name="value" type="xs:double" minOccurs="0" />
					<xs:element name="discount" type="xs:double" minOccurs="0" />
					<xs:element name="amount" type="xs:double" minOccurs="0" />
					<xs:element name="attributes" type="ArrAttribute" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrAttribute">
				<xs:sequence>
					<xs:element name="attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Attribute">
				<xs:all>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="value" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			
			<xs:complexType name="Points">
				<xs:all>
					<xs:element name="issued" type="xs:integer" minOccurs="0" />
					<xs:element name="redeemed" type="xs:integer" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="Coupons">
				<xs:all>
					<xs:element name="issued" type="ArrIssuedCoupon" minOccurs="0"/>
					<xs:element name="redeemed" type="ArrRedeemedCoupon" minOccurs="0"/>
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="ArrIssuedCoupon">
				<xs:sequence>
					<xs:element name="coupon" type="IssuedCoupon" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ArrRedeemedCoupon">
				<xs:sequence>
					<xs:element name="coupon" type="RedeemedCoupon" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="IssuedCoupon">
				<xs:all>
					<xs:element name="id" type="xs:string" minOccurs="0" />
					<xs:element name="code" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="RedeemedCoupon">
				<xs:all>
					<xs:element name="id" type="xs:string" minOccurs="0" />
					<xs:element name="validation_code" type="xs:string" minOccurs="0" />
					<xs:element name="redemption_details" type="xs:string" minOccurs="0" />
				</xs:all>
			</xs:complexType>
			
			<xs:complexType name="Status">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="1" />
					<xs:element name="code" type="xs:integer" minOccurs="1" />
					<xs:element name="message" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>			
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:interface name="CustomerTransactionInterface">
		<wsdl:operation name="CustomerTransaction" 
			pattern="http://www.w3.org/ns/wsdl/in-out">
				<wsdl:input messageLabel="In" element="CustomerTransaction"/>
				<wsdl:output messageLabel="Out" element="response"/>
		</wsdl:operation>
	</wsdl:interface>
	
	<wsdl:binding name="CustomerTransactionBinding" 
		interface="tns:CustomerTransactionInterface" 
		type="http://www.w3.org/ns/wsdl/http">
			<wsdl:operation ref="tns:CustomerTransaction"
				whttp:location="/v1.1/customer/transactions?format=xml" 
				whttp:method="GET" 
				whttp:queryParameterSeparator="&amp;" 
				whttp:inputSerialization="application/x-www-form-urlencoded"
				whttp:outputSerialization="application/xml" />
	</wsdl:binding>

	<wsdl:service name="CustomerTransactionService" 
		interface="tns:CustomerTransactionInterface">
			<wsdl:endpoint name="CustomerTransactionEndPoint" 
				binding="tns:CustomerTransactionBinding" 
				address="http://testing.capillary.in"/>
	</wsdl:service>
	
</wsdl:description>

